/configurations/.env
/configurations/inner_key
/configurations/workspace.conf
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/syslens-cli.iml
/.idea/vcs.xml
